body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95vh;
    margin-bottom: 5vh;
    background-color: #000;
    color: #fff;
}

#table {
    position: relative;
    width: 100%; /* Taille du conteneur carré */
    height: 100%;
    background-color: #19561c;
    border: 2px solid #352507; /* Optionnel : bordure pour voir les limites */
    border-radius: 8px; /* Optionnel : coins arrondis */
    display: flex;
    justify-content: center;
    align-items: center;
}

.score {
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    z-index: 1; /* Score au-dessus des cartes */
}

.joueur {
    position: absolute;
    width: 17vw; /* Taille des cartes */
    height: 17vw;
    background-color: #f39c12; /* Couleur de fond des cartes */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    transition: transform 0.3s;
}

/* Positionnement des cartes en cercle */
#joueur1 { transform: rotate(0deg) translate(30vw) rotate(0deg); }
#joueur2 { transform: rotate(45deg) translate(30vw) rotate(-45deg); }
#joueur3 { transform: rotate(90deg) translate(30vw) rotate(-90deg); }
#joueur4 { transform: rotate(135deg) translate(30vw) rotate(-135deg); }
#joueur5 { transform: rotate(180deg) translate(30vw) rotate(-180deg); }
#joueur6 { transform: rotate(225deg) translate(30vw) rotate(-225deg); }
#joueur7 { transform: rotate(270deg) translate(30vw) rotate(-270deg); }
#joueur8 { transform: rotate(315deg) translate(30vw) rotate(-315deg); }

@media (min-width:100vh){
    .joueur {
        position: absolute;
        width: 17vh; /* Taille des cartes */
        height: 17vh;
        background-color: #f39c12; /* Couleur de fond des cartes */
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        color: white;
        font-weight: bold;
        transition: transform 0.3s;
    }
    
    /* Positionnement des cartes en cercle */
    #joueur1 { transform: rotate(0deg) translate(30vh) rotate(0deg); }
    #joueur2 { transform: rotate(45deg) translate(30vh) rotate(-45deg); }
    #joueur3 { transform: rotate(90deg) translate(30vh) rotate(-90deg); }
    #joueur4 { transform: rotate(135deg) translate(30vh) rotate(-135deg); }
    #joueur5 { transform: rotate(180deg) translate(30vh) rotate(-180deg); }
    #joueur6 { transform: rotate(225deg) translate(30vh) rotate(-225deg); }
    #joueur7 { transform: rotate(270deg) translate(30vh) rotate(-270deg); }
    #joueur8 { transform: rotate(315deg) translate(30vh) rotate(-315deg); }
}

