body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95vh;
    margin-bottom: 5vh;
    background-color: #000;
    color: #fff;
}

#table {
    width: 100%; /* Taille du conteneur carré */
    height: 100%;
    position: relative;
    background-color: #19561c;
    border: 2px solid #352507; /* Optionnel : bordure pour voir les limites */
    border-radius: 8px; /* Optionnel : coins arrondis */
}

#cercle {
    margin-top: 2%;
    width: 100%; /* Taille du conteneur carré */
    height: 78%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#boutons {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.bouton {
    width: 12vw;
    height: 50%;
    font-size: 1.6vw;
    font-weight: bold;
}

#centre {
    position: absolute;
    z-index: 1; /* Score au-dessus des cartes */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 4vw;
    font-weight: bold;
}

.joueur {
    position: absolute;
    width: 16vw; /* Taille des cartes */
    height: 16vw;
    background-color: #f39c12; /* Couleur de fond des cartes */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 2.7vw;
    transition: transform 0.3s;
}

/* Positionnement des cartes en cercle */
#joueur1 { transform: rotate(0deg) translate(30vw) rotate(0deg); }
#joueur2 { transform: rotate(45deg) translate(30vw) rotate(-45deg); }
#joueur3 { transform: rotate(90deg) translate(30vw) rotate(-90deg); }
#joueur4 { transform: rotate(135deg) translate(30vw) rotate(-135deg); }
#joueur5 { transform: rotate(180deg) translate(30vw) rotate(-180deg); }
#joueur6 { transform: rotate(225deg) translate(30vw) rotate(-225deg); }
#joueur7 { transform: rotate(270deg) translate(30vw) rotate(-270deg); }
#joueur8 { transform: rotate(315deg) translate(30vw) rotate(-315deg); }

.nom {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

input {
    width: 15vw;
}

@media (min-width:100vh){
    #centre {
        font-size: 4vh;
    }

    .joueur {
        width: 16vh; /* Taille des cartes */
        height: 16vh;
        font-size: 2.7vh;
    }
    
    /* Positionnement des cartes en cercle */
    #joueur1 { transform: rotate(0deg) translate(30vh) rotate(0deg); }
    #joueur2 { transform: rotate(45deg) translate(30vh) rotate(-45deg); }
    #joueur3 { transform: rotate(90deg) translate(30vh) rotate(-90deg); }
    #joueur4 { transform: rotate(135deg) translate(30vh) rotate(-135deg); }
    #joueur5 { transform: rotate(180deg) translate(30vh) rotate(-180deg); }
    #joueur6 { transform: rotate(225deg) translate(30vh) rotate(-225deg); }
    #joueur7 { transform: rotate(270deg) translate(30vh) rotate(-270deg); }
    #joueur8 { transform: rotate(315deg) translate(30vh) rotate(-315deg); }

    input {
        width: 14vh;
    }
}

